
<div>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
        <h1 style = "color:white" > Bienvenido donde o artesanal se vuelve único.</h1>
        <p style = "color:white"> Si eres empresa  tendras la oportunidad de mejorar tus ventas y obtener estadisticas de tus ventas  .</p>
        <span>
          <p style = "color:white">Registrese con su redes sociales</p>
          <a href="#"><i class="Facebook" aria-hidden="true"></i>Registrese con Facebook</a>
          <a href="#"><i class="Twitter" aria-hidden="true"></i> Registrese con Twitter</a>
        </span>
        </div>
      </div>
      
      
        <div class="right">
        <h5 style="text-align: center;">Registrese</h5>
        <br>
        <br>
        <div class="inputs">
          <input type="text" placeholder="Nombre Empresa">
          <br>
          <input type="text" placeholder="Direccion">
          <br>
          <input type="text" placeholder="Registro Invima">
          <br>
          <input type="tel" placeholder="Telfono">
          <br>
          <input type="password" placeholder="Contraseña">
          <br>
          <input type="password" placeholder="Repetir Contraseña">
          
        </div>
          
          <br><br>

            <!-- Angular -->
          
          <br>
          <button>Registrese</button>
      </div>
      
    </div>
  
  </div>