<p>register-customer-page works!</p>
<div>
    <div class="box-form">
      <div class="left">
        <div class="overlay">
        <h1 style = "color:white" > Bienvenido donde o artesanal se vuelve único.</h1>
        <p style = "color:white"> si eres cliente tendras la oportunidad de comprar y apoyar a los cerveceros artesanales del pais.</p>
        <span>
          <p style = "color:white">Registrese con su redes sociales</p>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>registrese con Facebook</a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Registrese con Twitter</a>
        </span>
        </div>
      </div>
      
      
        <div class="right">
        <h5 style="text-align: center;">Registrese</h5>
        <br>
        <br>
        <div class="inputs">
          <input type="text" placeholder="user name">
          <br>
          <input type="password" placeholder="password">
          <br>
          <input type="password" placeholder="repetir password">
        </div>
          
          <br><br>

            <!-- Angular -->
          
          <br>
          <button>Registrese</button>
      </div>
      
    </div>
  
  </div>