			<!-- Footer -->
            <section id="footer" class="wrapper">
                <div class="title">Contactenos</div>
                <div class="container">
                    <header class="style1">
                        <h2>Déjanos tu opinión</h2>
                        <p>
                            Tus solicitudes, comentarios y preguntas son muy importantes para nosotros, diligencia estos 
                            campos y así podremos ayudarte.
                        </p>
                    </header>
                    <div class="row">
                        <div class="col-6 col-12-medium">

                            <!-- Contact Form -->
                                <section>
                                    <form method="post" action="#">
                                        <div class="row gtr-50">
                                            <div class="col-6 col-12-small">
                                                <input type="text" name="name" id="contact-name" placeholder="Nombres y apellidos" />
                                            </div>
                                            <div class="col-6 col-12-small">
                                                <input type="text" name="email" id="contact-email" placeholder="Email" />
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" id="contact-message" placeholder="Mensaje" rows="4"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <ul class="actions">
                                                    <li><input type="submit" class="style1" value="Enviar" /></li>
                                                    <li><input type="reset" class="style2" value="Borrar" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </section>

                        </div>
                        <div class="col-6 col-12-medium">

                            <!-- Contact -->
                                <section class="feature-list small">
                                    <div class="row">
                                        <div class="col-6 col-12-small">
                                            <section>
                                                <h3 class="icon solid fa-home" >Contacto corporativo</h3>
                                                <p>
                                                    Clandestinapp handcraft<br />
                                                    Pereira, Risaralda<br />
                                                    Colombia, Pe 660001
                                                </p>
                                            </section>
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <section>
                                                <h3 class="icon solid fa-comment" >Social</h3>
                                                <p>
                                                    <a href="https://www.instagram.com/clandestinapp/">@Clandestinapp</a><br />
                                                    <a href="https://www.facebook.com/Clandestinapp">facebook.com/clandestinapp</a>
                                                </p>
                                            </section>
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <section>
                                                <h3 class="icon solid fa-envelope" >Correo electrónico</h3>
                                                <p>
                                                    <a href="#">info@clandestinapp.com</a>
                                                </p>
                                            </section>
                                        </div>
                                        <div class="col-6 col-12-small">
                                            <section>
                                                <h3 class="icon solid fa-phone" >Telefóno</h3>
                                                <p>
                                                    (000) 555-0000
                                                </p>
                                            </section>
                                        </div>
                                    </div>
                                </section>

                        </div>
                    </div>
                    <div id="copyright">
                        <ul>
                            <li style="color: #e3d43d;">&copy; 2020 Clandestinapp | Todos los derechos reservados. Cerveza artesanal.</li>
                        </ul>
                    </div>
                </div>
            </section>
