			<!-- caracteristicas slat -->
            <section id="Caracteristicas" class="wrapper style1">
                <div class="title">¿QUÉ SOMOS?</div>
                <div class="container">

                    <!-- caracteristicas -->
                        <section id="features">
                            <header class="style1">
                                <h2>agregar contenido de que somos</h2>
                               
                                
                            </header>
                            

                        </section>

                </div>
            </section>