<app-navbar></app-navbar>
			<!-- caracteristicas slat -->
            <section id="Cladestinapp" class="wrapper style1">
                <div class="title">¿QUÉ SOMOS?</div>
                <div class="container">

                    <!-- caracteristicas -->
                        <section id="features">
                            <header class="style1">
                                <h1 style="color: black;">Somos un proyecto académico llamado Clandestinapp, aplicación web de comercialización 
                                    de cerveza artesanal, en donde puede registrarse como empresa o cliente, ofreciendo sus 
                                    productos o comprando de los catálogos disponibles en nuestra página.<br>
                                    Es el resultado de una iniciativa emprendedora de Johan David Ramírez, Jeison Andrés 
                                    Jaramillo y José David Melo Díaz, que surgió de brindar a los emprendedores de cerveza 
                                    artesanal la oportunidad de ofrecer sus productos de manera online para tener un mejor 
                                    alcance al público y obtener mejores ventas. Y al cliente una manera más fácil de 
                                    aprender la elaboración de la cerveza, visualizar los catálogos de las empresas 
                                    registradas y realizar su pedido en pocos clics de una manera fácil y segura.<br><br>
                                    Nuestro compromiso es que la cerveza artesanal pueda llegar mas lejos, ofreciendo 
                                    una variedad de cervezas únicas y mas que todo manteniendo el respeto por la cultura y 
                                    la tradición del cervecero artesanal.                                
                                </h1>
                                <!-- <img src="images/Logo.jpg" alt="Que somos" /> -->
                                <!-- <img class="img-quesomos" src="images/banner.jpg" alt="" /> -->
                                <a href="#" class="image featured"><img class="img-sobrenosotros" src="./assets/css/images/conocenos.jpg" alt="" /></a>
                               
                                
                            </header>
                            

                        </section>

                </div>
            </section>