			<!-- caracteristicas slat -->
            <section id="Caracteristicas" class="wrapper style1">
                <div class="title">CARACTERISTICAS</div>
                <div class="container">

                    <!-- caracteristicas -->
                        <section id="features">
                            <header class="style1">
                                <h2></h2>
                                <p style="color: black">una artesano esta lleno de cualidades al igual que nosotros por eso ofrecemos</p>
                            </header>
                            
                            <ul class="actions special">
                                <li><a href="#" class="button style1 large">Cliente</a></li>
                                <li><a href="#" class="button style1 large">Empresa</a></li>
                            </ul>
                        </section>

                </div>
            </section>