<app-navbar></app-navbar>

<body>
    
    <ul class="">
        <li><a href="#" class="button style3 large" routerLink="/registro_cliente"style="margin-right: 300px; margin-left: 30px;">Cliente</a></li>
        <li><a href="#" class="button style3 large" routerLink="/registro_empresa"style="margin-right: 30px; margin-left: 300px;">Empresa</a></li>
    </ul>
</body>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h1 style="color: black; ">El exceso de alcohol es perjudicial para la salud. Ley 30 de 1986</h1>
        <h2 style="color: black;">Prohíbase el expendio de bebidas embriagantes a menores de edad y mujeres embarazadas. </h2><br>
        <h3 style="color: black;">Ley 124 de 1994</h3>

        <ul class="icons">
            <li><a  href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a  href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a  href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <p class="copyright">Todos los derechos reservados por Clandestinapp 2020 <a></a>. </p>
    </div>
</footer>
