<section id="header" class="wrapper">

 

    <!-- menu -->
        <nav id="nav">
          <ul class="navbar-nav ml-auto" style="margin-right: 100px; margin-left: 10px;"> 
            <a class="navbar-brand" href="#" routerLink="/">
              <img src="assets/css/images/Logo.png" height="50" width="50" class="d-inline-block align-middle"
                alt="Clandestinapp logo"></a>
            <li><a href="#Cladestinapp">Home</a>
            <li><a href="#Registrarse">Tienda</a></li>
            <li><a href="#sobrenosotros">Carrito</a></li>
            
            
            <li><a href="#"  routerLink="/aprenda">Aprenda</a></li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li><a href="#" ><i class="fa fa-fw fas fa-bell"></i> </a></li>
            <li ><a href="#" ><i class="fa fa-fw fa-user" ></i> Perfil</a>

              <ul>
                <li><a href="">Ajustes</a></li>
                <li><a href="">Salir</a></li>
              </ul>

            </li>
            
          </ul>
        </nav>


</section>
  