<section id="header" class="wrapper">

 

    <!-- menu -->
        <nav id="nav">
          <ul class="navbar-nav ml-auto" style="margin-right: 100px; margin-left: 10px;"> 
            <a class="navbar-brand" href="#" routerLink="/">
              <img src="assets/css/images/Logo.png" height="50" width="50" class="d-inline-block align-middle"
                alt="Clandestinapp logo"></a>
            <li><a href="#Caracteristicas">Clandestinapp</a>
            <li><a href="#Registrarse">Registrarse</a></li>
            <li><a href="#Sobrenosotros">Sobre Nosotros</a></li>
            <li><a href="#footer">Contacto</a></li>
            <li><a href="#"  routerLink="/aprenda">Aprenda</a></li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li><a href="#" >login</a></li>
          </ul>
        </nav>


    </section>
  