<section id="header" class="wrapper">

  <!-- logo -->
  <!-- imagen logo circular<div align="center"><img src="https://imagizer.imageshack.com/v2/500x500q90/r/922/1vhQui.png" width="150"
    height="150" style="position: absolute; top: 0; left: 0;"></div>-->
    

    <!-- menu -->
        <nav id="nav">
          <ul>
            <a class="navbar-brand" href="#" routerLink="/">
              <img src="assets/css/images/Logo.png" height="50" width="50" class="d-inline-block align-middle"
                alt="Clandestinapp logo"></a>
            <li><a href="#Caracteristicas">Características</a>
            <li><a href="#Registrarse">Registrarse</a></li>
            <li><a href="#Sobrenosotros">Sobre Nosotros</a></li>
            <li><a href="#footer">Contacto</a></li>
            <li><a href="#"  routerLink="/aprenda">Aprenda</a></li>
          </ul>
        </nav>

    </section>