<!-- Highlights -->
<section id="sobrenostros" class="wrapper style3">
    <div class="title">sobre nosotros</div>
    <div class="container">
        <div class="row aln-center">
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="./assets/css/images/suscripciones.jpg" alt="" /></a>
                    <h3 align="center"><a>Suscripciones</a></h3>
                    <p align="center">Se cuenta con diferentes planes para las empresas que se desean registrar, entre estos tenemos el plan mensual, el plan semestral y el plan anual.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="./assets/css/images/conocenos.jpg" alt="" /></a>
                    <h3 align="center"><a>Conócenos</a></h3>
                    <p align="center">Somos un proyecto académico, en el cual trata de en el desarrollo web / aplicación que permite enseñar a las personas a realizar sus propias cervezas artesanales y da a conocer en qué lugar se encuentran cerveceros artesanales de la ciudad de Pereira.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="./assets/css/images/beneficios.jpg" alt="" /></a>
                    <h3 align="center" ><a >Beneficios</a></h3>
                    <p align="center" >Nuestros usuarios obtendrán diferentes promociones y descuentos por la compra y consumo de la elección de un producto de nuestro catálogo.
                        Nuestros clientes obtendrán beneficios en su primer registro con nosotros, descuentos, promociones y asesoramiento de nuestros servicios en la página web.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>		