<!-- Highlights -->
<section id="sobrenostros" class="wrapper style3">
    <div class="title">sobre nosotros</div>
    <div class="container">
        <div class="row aln-center">
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img class="img-sobrenosotros" src="./assets/css/images/suscripciones.jpg" alt="" /></a>
                    <br>
                    <h3 align="center" style="color: black;"><a><b>Suscripciones</b></a></h3>
                    <br>
                    <p align="justify" style="color: black;">Se cuenta con diferentes planes para las empresas que se desean registrar, entre estos tenemos:</p> <ol align="justify" style="color: black;"> <li>Plan mensual</li>  <li>Plan semestral</li><li>Plan anual</li></ol>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img class="img-sobrenosotros" src="./assets/css/images/conocenos.jpg" alt="" /></a>
                    <br>
                    <h3 align="center" style="color: black;"><a><b>Conócenos</b></a></h3>
                    <br>
                    <p align="justify" style="color: black;">Somos un proyecto académico, en el cual trata de en el desarrollo web / aplicación que permite enseñar a las personas a realizar sus propias cervezas artesanales y da a conocer en qué lugar se encuentran cerveceros artesanales de la ciudad de Pereira.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img class="img-sobrenosotros" src="./assets/css/images/beneficios.jpg" alt="" /></a>
                    <br>
                    <h3 align="center" style="color: black;"><a><b>Beneficios</b></a></h3>
                    <br>
                    <p align="justify" style="color: black;" >Nuestros usuarios obtendrán diferentes promociones y descuentos por la compra y consumo de la elección de un producto de nuestro catálogo.
                        Nuestros clientes obtendrán beneficios en su primer registro con nosotros, descuentos, promociones y asesoramiento de nuestros servicios en la página web.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>		