<!-- Highlights -->
<section id="sobrenostros" class="wrapper style3">
    <div class="title">sobre nosotros</div>
    <div class="container">
        <div class="row aln-center">
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="./assets/css/images/pic02.jpg" alt="" /></a>
                    <h3 align="center"><a>Suscripciones</a></h3>
                    <p align="center">Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="./assets/css/images/pic02.jpg" alt="" /></a>
                    <h3 align="center"><a>Conócenos</a></h3>
                    <p align="center">Somos una empresa dedicada en la comercialización online de cerveza artesanal con dedicación y seguimiento de los procesos de elaboración y producción de cerveza artesanal en la región para ofrecer y mejorar su alcance al público. Así transformar el gusto y disfrute, hacia la pasión por una misma experiencia: la cerveza y sus matices.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="highlight">
                    <a href="#" class="image featured"><img src="./assets/css/images/pic02.jpg" alt="" /></a>
                    <h3 align="center" ><a >Beneficios</a></h3>
                    <p align="center" >Nuestros usuarios obtendrán diferentes promociones y descuentos por la compra y consumo de la elección de un producto de nuestro catálogo.
                        Nuestros clientes obtendrán beneficios en su primer registro con nosotros, descuentos, promociones y asesoramiento de nuestros servicios en la página web.</p>
                    <ul class="actions">
                        
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>		