<app-navbar></app-navbar>
<div>
<div class="box-form">
    <div class="left">
    <div class="overlay">
    <h1 style = "color:white" > Bienvenido donde o artesanal se vuelve único.</h1>
    <p style = "color:white">Registrate como empresa para exhibir su catalogo de tus polas o si eres cliente podrás comprar y mirar 
        los lugares más cercanos a tu casa.</p>
    <span>
        <p style = "color:white">login with social media</p>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Ingresar con Facebook</a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Ingresar con Twitter</a>
    </span>
    </div>
    </div>
    
    
    <div class="right">
    <h5>Login</h5>
    <br>
    <p>¿No tienes una cuenta? <a href="#">Crea una cuenta</a> no se va a tardar mucho.</p>
    
    <div class="inputs">
        <input type="text" placeholder="user name">
        <br>
        <input type="password" placeholder="password">
    </div>
        
        <br><br>
        
        <div class="remember-me--forget-password">
        <!-- Angular -->
        <label>
        <input type="checkbox" name="item" checked/>
        <span class="text-checkbox">Recuérdame</span>
        </label>
        <p>¿Olvido su contraseña?</p>
        </div>
        
        <br>
        <button>Login</button>
    </div>
    
</div>
  
</div>