<!DOCTYPE HTML>
<html>
	<head>
		<title>Aprenda</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="aprenda-page.component.css" />
	</head>
	<body id="top">

			<!-- Banner -->
			
				<section id="banner">
					<div>
						<h1> Crece Aprendiendo </h1>
						<header>
							<p > Busca nuevas recetas para elaborar cervezas y aprende sobre nuevos estilos. <br /></p>
						</header>				
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="#" class="image fit"><img src="./images/pic01.jpg" alt="" /></a>
								<div class="inner">
									<h3>Recetas lagger </h3>
									<p>Lager es un tipo de cerveza con sabor acentuado que se sirve fría, caracterizada por fermentar en condiciones más lentas empleando levaduras especiales, conocidas como levaduras de fermentación baja, y que en las últimas partes del proceso son almacenadas en bodegas (o lagered )de allí su nombre.</p>
									<a href="#" class="button fit" data-poptrox="youtube,800x400">Ver Mas</a>
								</div>
							</div>

							<div class="box">
								<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
								<div class="inner">
									<h3>Recetas Ale</h3>
									<p>Ale es un nombre que abarca a todas las cervezas de fermentación alta,  Esto quiere decir que en las ales, el proceso de fermentación ocurre en la superficie del líquido, mientras que en las cervezas lager esta ocurre cerca del fondo. En otras palabras, la levadura que cumple el proceso de fermentación flota en la superficie del líquido durante varios días antes de descender al fondo.</p>
									<a href="#" class="button style2 fit" data-poptrox="<p> verga</p>">Ver Mas</a>
								</div>
							</div>

							<div class="box">
								<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
								<div class="inner">
									<h3>Recetas Porter</h3>
									<p>La cerveza Porter es una cerveza menos amarga, densidades originales más bajas y menor grado de alcohol que las Stout. La cerveza Stout, recibe este nombre por ser la porter más fuerte. La stout es una cerveza de color casi negro, oscura, amarga y elaborada con malta de cebada tostada.</p>
									<a href="#" class="button style3 fit" data-poptrox="youtube,800x400">Ver Mas</a>
								</div>
							</div>

							<div class="box">
								<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
								<div class="inner">
									<h3>Recetas Lambic</h3>
									<p>Las cervezas de la familia Lambic son cervezas de fermentación espontánea, que se elaboran en la zona de Bruselas conocida como Lambeek, ácidas y poco amargas debido a que los lúpulos se envejecen para evitar ese amargor.</p>
									<a href="#" class="button style2 fit" data-poptrox="youtube,800x400">Ver Mas</a>
								</div>
							</div>

							<div class="box">
								<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
								<div class="inner">
									<h3>Recetas Pilsner </h3>
									<p>Las pilsens es un estilo de baja fermentación originario de la República Checa, cerca de la región de Bohemia. Su principal característica es que son rubias y de color bastante claro y translucido, muy brillante.

										IMG02798-20140127-1519
										
										En sabor y aroma encontramos la malta y poca presencia del lúpulo. Son ligeras, refrescantes, con mucha burbuja, mucha espuma y con un objetivo muy sencillo que casi siempre cumplen: refrescar.</p>
									<a href="#" class="button style3 fit" data-poptrox="youtube,800x400">Ver Mas</a>
								</div>
							</div>

							<div class="box">
								<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
								<div class="inner">
									<h3>Recetas Gose</h3>
									<p>Cerveza de trigo altamente carbonatada, ácida y frutal, con un carácter restringido de sal y coriandro y bajo amargor. Muy refrescante, con sabores vivos y alta atenuación. Ligero a moderado aroma a frutas de carozo. Ligera acidez un tanto aguda. Notable aroma a coriandro, que puede tener un característico aroma a limonada y una intensidad alta a moderada.</p>
									<a href="#" class="button fit" data-poptrox="youtube,800x400">Ver Mas</a>
								</div>
							</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
            <script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>