
 @-webkit-keyframes plop-glass {
	 50% {
		 -webkit-transform: scale(1.35);
		 transform: scale(1.35);
	}
	 100% {
		 -webkit-transform: scale(1.2);
		 transform: scale(1.2);
	}
}
 @keyframes plop-glass {
	 50% {
		 -webkit-transform: scale(1.35);
		 transform: scale(1.35);
	}
	 100% {
		 -webkit-transform: scale(1.2);
		 transform: scale(1.2);
	}
}
 .wrapper {
	 position: relative;
	 display: block;
	 margin-left: auto;
}
 .search-bar {
	 width: 100%;
	 display: block;
	 margin: 0 auto;
	 height: 40px;
	 border-radius: 20px;
	 border: none;
	 padding-left: 20px;
	 box-shadow: 0 3px 14px rgba(25, 25, 25, 0.05);
	 font-weight: 500;
	 position: relative;
	 left: -3px;
	 color: #e9b21c;
	/*@include transition-fade-circ(0.4s);
	*/
}
 .search-bar:focus {
	 box-shadow: 0 4px 11px rgba(0, 0, 0, 0.09);
	 font-weight: 500;
	 color: #4aff06;
	 width: 120%;
	 -webkit-transform: translateX(-15%);
	 transform: translateX(-15%);
}
 .search-bar:focus + svg path {
	 fill: #4aff06;
}
 .search-bar:focus + svg {
	 -webkit-transform: scale(1.2);
	 transform: scale(1.2);
}
 svg.animate-plop {
	 -webkit-animation: plop-glass 0.1s ease forwards;
	 animation: plop-glass 0.1s ease forwards;
}
 ::-webkit-input-placeholder {
	 color: #e9b21c;
}
 :-moz-placeholder {
	/* Firefox 18- */
	 color: #e9b21c;
}
 ::-moz-placeholder {
	/* Firefox 19+ */
	 color: #e9b21c;
}
 :-ms-input-placeholder {
	 color: #e9b21c;
}
 svg {
	 position: absolute;
	 right: 24px;
	 top: 3px;
	 height: 31px;
	 width: 15px;
	/*@include transition-fade(0.3s);
	*/
}
 svg path {
	 fill: #333;
}
/** Media queries **/
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	 .search-bar {
		 left: 0;
		 border-radius: 0;
		 height: 43px;
	}
	 .search-bar:focus {
		 width: 100%;
		 -webkit-transform: translateX(0);
		 transform: translateX(0);
	}
	 svg {
		 top: 8px;
	}
}
 