<section id="header" class="wrapper">

 

    <!-- menu -->
        <nav id="nav">
          <ul class="navbar-nav ml-auto" style="margin-right: 100px; margin-left: 10px;"> 
            <a class="navbar-brand" href="#" routerLink="/">
              <img src="assets/css/images/Logo.png" height="50" width="50" class="d-inline-block align-middle"
                alt="Clandestinapp logo"></a>
            <li><a href="#Cladestinapp">Perfil</a>
            <li><a href="#Registrarse">Catalogo</a></li>
            <li><a href="#sobrenosotros">dashboard</a>
            
              <ul>
                <li><a href="">Productos</a></li>
                <li><a href="">Ventas</a></li>
                <li><a href="">Compras</a></li>
                <li><a href="">Proveedores</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">Ganancias</a></li>
              </ul>
            </li>
            




            
            <li><a href="#"  routerLink="/aprenda">Aprenda</a></li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li><a href="#" ><i class="fa fa-fw fa-envelope"></i> </a></li>
            <li ><a href="#" ><i class="fa fa-fw fa-user" style="width:6; height:6"></i> Perfil</a>
            </li>
            
          </ul>
        </nav>


</section>
  