<app-navbar-company></app-navbar-company>

<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4413e8152d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="main-company.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <title>Dashboard</title>
</head>

<body>
    <!--Contenedor de todo nuestro dashboard-->
    <div class="wrapper">
        
                       
        <!--Contiene todo el cuerpo de nuestro panel administritivo-->
        <div class="main-panel">
            <!--Cabecera o Header de nuestro dashboard -->
            
            <!-- El contenedor de graficas de nuestro panel administrativo -->
            <div class="content" id="main">
                <!-- Primera fila (Grafica)  -->
                <div class="grid-row">
                    <div class="card-chart card">
                        <div class="header-card_chart">
                            <span>Total de clientes</span>
                            <h6>Mensualmente</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myChart" class="chartjs-render-monitor" height="220"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Segunda fila (4 cards) -->
                <div class="grid-row_4">
                    <div class="card">
                        <div class="header-card">
                            <div class="icon">
                                <i class="fas fa-cloud"></i>
                            </div>
                            <div>
                                <span>Espacio en nube</span>
                                <h6>10GB</h6>
                            </div>
                        </div>
                        <div class="footer-card">
                            <i class="far fa-comments"></i>
                            <span>Actualiza</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <div class="icon">
                                <i class="far fa-star"></i>
                            </div>
                            <div>
                                <span>Cervezas favoritas</span>
                                <h6>1. Cerveza n1</h6>
                            </div>
                        </div>
                        <div class="footer-card">
                            <i class="far fa-comments"></i>
                            <span>Actualiza</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <div class="icon">
                                <i class="far fa-user"></i>
                            </div>
                            <div>
                                <span>Clientes</span>
                                <h6>150000</h6>
                            </div>
                        </div>
                        <div class="footer-card">
                            <i class="far fa-comments"></i>
                            <span>Actualiza</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header-card">
                            <div class="icon">
                                <i class="far fa-hourglass"></i>
                            </div>
                            <div>
                                <span>Tiempo de suscripcion</span>
                                <h6>12 meses</h6>
                            </div>
                        </div>
                        <div class="footer-card">
                            <i class="far fa-comments"></i>
                            <span>Actualiza</span>
                        </div>
                    </div>
                </div>
                <!-- Tercera fila (3 Graficas) -->
                <div class="grid-row_charts">
                    <div class="card-chart card">
                        <div class="header-card_chart">
                            <span>Visitas al catálogo</span>
                            <h6>Mensualmente</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myChart2" class="chartjs-render-monitor" height="220"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-chart card">
                        <div class="header-card_chart">
                            <span>Ganacias obtenidas</span>
                            <h6>Mensualmente</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myChart3" class="chartjs-render-monitor" height="220"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-chart card">
                        <div class="header-card_chart">
                            <span>Total de cervezas exhibidas</span>
                            <h6>Semanal</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myChart4" class="chartjs-render-monitor" height="220"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer o pies de nuestro dashboard-->
                <div class="footer-dashboard">
                    <li style="color: #e3d43d;">&copy; 2020 Clandestinapp | Todos los derechos reservados. Cerveza artesanal.</li>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</body>

</html>

<script>

</script>